@{
    ViewBag.Title = "Kontakt";
}

<div class="panel-success">
    <div class="panel-heading text-center"><h2>@ViewBag.Title</h2></div>
    <div class="panel-body">
        <h3>@ViewBag.Message</h3>
        <hr />
        <address>
            <strong>Telefon: </strong> 608 942 639 <br/>
            <strong>E-mail:</strong> <a href="mailto:sudras@student.mini.pw.edu.pl">sudras@student.mini.pw.edu.pl</a><br />
            <strong>E-mail:</strong> <a href="mailto:sznajderl@student.mini.pw.edu.pl">sznajderl@student.mini.pw.edu.pl</a>
        </address>

        </div>
    </div>
